<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6aaa8d">  <td>18/04/15 03:19:45</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;MyClass.afterTest()[pri:0, instance:com.selenium.demo.MyClass@10a035a0]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1686369710</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>18/04/15 03:19:24</td>   <td>-20355</td> <td>&nbsp;</td><td title="&gt;&gt;MyClass.beforeTest()[pri:0, instance:com.selenium.demo.MyClass@10a035a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1686369710</td>   <td></td> </tr>
</table>
